In [1]:
# Importing the libraries
import numpy as np
import pandas as pd
from numpy import mean
from numpy import std
from pandas import DataFrame

In [36]:

#importing data as csv
dataset = pd.read_csv('C:/Users/Owner/Desktop/weather.csv')
#print(type(dataset))

In [37]:
dataset

,timestamp,site_id,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
0,2016-01-01 00:00:00,Panther,19.4,NaN,19.4,0.0,NaN,NaN,0.0,0.0
1,2016-01-01 01:00:00,Panther,21.1,6.0,21.1,-1.0,NaN,1019.4,0.0,0.0
2,2016-01-01 02:00:00,Panther,21.1,NaN,21.1,0.0,NaN,1018.8,210.0,1.5
3,2016-01-01 03:00:00,Panther,20.6,NaN,20.0,0.0,NaN,1018.1,0.0,0.0
4,2016-01-01 04:00:00,Panther,21.1,NaN,20.6,0.0,NaN,1019.0,290.0,1.5
...,...,...,...,...,...,...,...,...,...,...
331161,2017-12-31 19:00:00,Mouse,8.5,NaN,4.8,NaN,NaN,992.3,210.0,8.2
331162,2017-12-31 20:00:00,Mouse,8.5,NaN,4.5,NaN,NaN,992.1,210.0,7.2
331163,2017-12-31 21:00:00,Mouse,8.2,NaN,4.0,NaN,NaN,992.1,230.0,10.3
331164,2017-12-31 22:00:00,Mouse,7.5,NaN,4.3,NaN,NaN,993.7,260.0,12.9
331165,2017-12-31 23:00:00,Mouse,7.2,NaN,3.7,NaN,NaN,995.7,260.0,10.3

In [40]:
#Air Temperature for panther
air_temperature= dataset['airTemperature']
print(air_temperature)
air_temperature_panther = air_temperature.loc[0:17545]
air_temperature_panther
#Average for Panther Air Temperature
ave_panther_airTemp = air_temperature_panther.mean(axis=0)
print(ave_panther_airTemp)

0         19.4
1         21.1
2         21.1
3         20.6
4         21.1
          ...
331161     8.5
331162     8.5
331163     8.2
331164     7.5
331165     7.2
Name: airTemperature, Length: 331166, dtype: float64
22.80291854300865

In [41]:
#Dataset for panther
set_panther = dataset.loc[0:17545,'airTemperature':'windSpeed']

In [42]:
set_panther

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
0,19.4,NaN,19.4,0.0,NaN,NaN,0.0,0.0
1,21.1,6.0,21.1,-1.0,NaN,1019.4,0.0,0.0
2,21.1,NaN,21.1,0.0,NaN,1018.8,210.0,1.5
3,20.6,NaN,20.0,0.0,NaN,1018.1,0.0,0.0
4,21.1,NaN,20.6,0.0,NaN,1019.0,290.0,1.5
...,...,...,...,...,...,...,...,...
17541,15.0,NaN,10.0,0.0,NaN,1020.8,130.0,3.6
17542,14.4,NaN,9.4,0.0,NaN,1020.7,80.0,2.1
17543,13.9,NaN,10.0,0.0,NaN,1020.8,160.0,2.1
17544,3.8,NaN,2.4,NaN,0.0,1020.9,240.0,3.1
17545,3.7,0.0,2.4,NaN,NaN,1021.6,230.0,2.6

In [43]:
#Average dataset for panther
avg_panther = set_panther.mean(axis=0)
avg_panther

airTemperature      22.802919
cloudCoverage        2.950615
dewTemperature      17.259528
precipDepth1HR       1.237069
precipDepth6HR      39.471406
seaLvlPressure    1017.750746
windDirection      152.245556
windSpeed            3.395543
dtype: float64

Dataset for Robin

In [44]:
set_robin = dataset.loc[17546:35061,'airTemperature':'windSpeed']
set_robin

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
17546,2.6,0.0,1.9,NaN,NaN,1021.9,0.0,0.0
17547,2.0,0.0,1.2,NaN,NaN,1022.3,170.0,1.5
17548,2.3,0.0,1.8,NaN,NaN,1022.7,110.0,1.5
17549,2.4,NaN,2.0,NaN,NaN,1023.0,100.0,1.0
17550,2.3,NaN,1.8,NaN,NaN,1023.0,90.0,1.5
...,...,...,...,...,...,...,...,...
35057,8.2,NaN,4.0,NaN,NaN,992.1,230.0,10.3
35058,7.5,NaN,4.3,NaN,NaN,993.7,260.0,12.9
35059,7.2,NaN,3.7,NaN,NaN,995.7,260.0,10.3
35060,7.2,0.0,-5.6,0.0,NaN,1017.3,0.0,0.0
35061,7.2,0.0,-6.7,0.0,NaN,1017.0,50.0,1.5

In [45]:
#Average dataset for robin
avg_robin = set_robin.mean(axis=0)
avg_robin

airTemperature      11.842701
cloudCoverage        0.074822
dewTemperature       7.663608
precipDepth1HR       0.000000
precipDepth6HR       3.655853
seaLvlPressure    1016.205735
windDirection      204.954883
windSpeed            4.026444
dtype: float64

Dataset for Fox

In [46]:
set_fox = dataset.loc[35062:52604,'airTemperature':'windSpeed']
set_fox

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
35062,6.1,0.0,-5.0,0.0,NaN,1016.9,0.0,0.0
35063,5.0,0.0,-5.6,0.0,NaN,1017.4,0.0,0.0
35064,4.4,0.0,-5.6,0.0,NaN,1017.2,0.0,0.0
35065,4.4,0.0,-5.0,0.0,NaN,1017.4,0.0,0.0
35066,2.8,0.0,-5.0,0.0,NaN,1018.0,0.0,0.0
...,...,...,...,...,...,...,...,...
52600,13.3,NaN,-2.8,0.0,NaN,1017.9,0.0,0.0
52601,12.2,NaN,-1.1,0.0,NaN,1018.3,110.0,1.5
52602,11.1,6.0,0.0,0.0,NaN,1018.8,110.0,1.5
52603,7.2,NaN,0.0,0.0,NaN,1021.5,350.0,5.1
52604,6.7,8.0,0.0,0.0,NaN,1021.1,340.0,3.6

In [47]:
#Average dataset for fox
avg_fox = set_fox.mean(axis=0)
avg_fox

airTemperature      25.075556
cloudCoverage        2.045259
dewTemperature       3.955706
precipDepth1HR       0.139824
precipDepth6HR      17.837500
seaLvlPressure    1011.414380
windDirection      153.450514
windSpeed            2.910399
dtype: float64

Dataset for Rat

In [48]:
set_rat= dataset.loc[52605:70143,'airTemperature':'windSpeed']
set_rat

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
52605,5.6,NaN,0.0,0.0,NaN,1020.8,350.0,3.1
52606,5.6,NaN,0.0,0.0,NaN,1021.1,340.0,3.6
52607,5.6,6.0,-1.1,0.0,NaN,1020.7,320.0,3.1
52608,5.6,NaN,-1.1,0.0,NaN,1020.5,320.0,3.6
52609,5.6,NaN,-1.7,0.0,NaN,1020.7,320.0,4.6
...,...,...,...,...,...,...,...,...
70139,-7.8,0.0,-15.6,0.0,NaN,1030.3,330.0,3.6
70140,-8.3,0.0,-16.7,0.0,NaN,1030.4,340.0,4.6
70141,-8.3,0.0,-16.7,0.0,NaN,1030.8,340.0,3.6
70142,4.4,0.0,-2.2,0.0,NaN,1020.9,0.0,0.0
70143,4.4,0.0,-4.4,0.0,NaN,1020.5,20.0,2.1

In [49]:
#Average dataset for rat
avg_rat = set_rat.mean(axis=0)
avg_rat

airTemperature      15.661142
cloudCoverage        4.024993
dewTemperature       8.351221
precipDepth1HR       0.697141
precipDepth6HR      24.585859
seaLvlPressure    1017.678520
windDirection      186.052525
windSpeed            3.916419
dtype: float64

Dataset for Bear

In [50]:
set_bear= dataset.loc[70144:87685,'airTemperature':'windSpeed']
set_bear

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
70144,4.4,0.0,-6.7,0.0,NaN,1020.8,20.0,2.1
70145,4.4,0.0,-7.8,0.0,NaN,1020.7,30.0,2.6
70146,5.0,0.0,-9.4,0.0,NaN,1020.6,0.0,0.0
70147,2.8,2.0,-6.1,0.0,NaN,1020.5,150.0,2.1
70148,2.8,2.0,-6.7,0.0,NaN,1020.7,160.0,2.1
...,...,...,...,...,...,...,...,...
87681,9.4,NaN,8.9,0.0,NaN,1021.1,10.0,1.5
87682,9.4,NaN,8.9,0.0,NaN,1021.4,10.0,1.5
87683,8.9,NaN,8.9,0.0,NaN,1022.2,10.0,2.1
87684,5.0,0.0,2.0,NaN,NaN,NaN,260.0,2.6
87685,3.0,0.0,1.0,NaN,NaN,NaN,NaN,1.5

In [51]:
#Average dataset for bear
avg_bear = set_bear.mean(axis=0)
avg_bear

airTemperature      15.102713
cloudCoverage        1.801107
dewTemperature      10.011244
precipDepth1HR       0.433879
precipDepth6HR      21.864307
seaLvlPressure    1016.676334
windDirection      206.491612
windSpeed            3.837578
dtype: float64

Dataset for Lamb

In [52]:
set_lamb= dataset.loc[87686:105185,'airTemperature':'windSpeed']
set_lamb

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
87686,4.0,0.0,3.0,NaN,NaN,NaN,160.0,2.6
87687,4.0,NaN,3.0,NaN,NaN,NaN,110.0,4.1
87688,5.0,0.0,4.0,NaN,NaN,NaN,120.0,4.1
87689,5.0,0.0,4.0,NaN,NaN,NaN,110.0,4.6
87690,5.0,0.0,4.0,NaN,NaN,NaN,120.0,6.2
...,...,...,...,...,...,...,...,...
105181,7.0,NaN,5.0,NaN,NaN,NaN,280.0,9.8
105182,7.0,NaN,4.0,NaN,NaN,NaN,290.0,8.8
105183,7.0,NaN,4.0,NaN,NaN,NaN,280.0,7.2
105184,7.2,0.0,2.2,0.0,NaN,1020.0,60.0,1.5
105185,6.7,0.0,2.2,0.0,NaN,1020.0,0.0,0.0

In [53]:
#Average dataset for lamb
avg_lamb = set_lamb.mean(axis=0)
avg_lamb

airTemperature      11.000509
cloudCoverage        0.472906
dewTemperature       8.431044
precipDepth1HR       0.000000
precipDepth6HR            NaN
seaLvlPressure    1020.000000
windDirection      211.644539
windSpeed            4.830973
dtype: float64

Dataset for peacock

In [54]:
set_peacock= dataset.loc[105186:122724,'airTemperature':'windSpeed']
set_peacock

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
105186,6.1,0.0,2.2,0.0,NaN,1020.4,0.0,0.0
105187,5.6,0.0,2.2,0.0,NaN,1020.1,40.0,1.5
105188,5.6,0.0,1.7,0.0,NaN,1020.4,0.0,0.0
105189,5.6,0.0,1.7,0.0,NaN,1019.5,0.0,0.0
105190,4.4,0.0,1.7,0.0,NaN,1019.9,0.0,0.0
...,...,...,...,...,...,...,...,...
122720,-7.8,0.0,-16.7,0.0,NaN,1029.4,0.0,0.0
122721,-8.9,0.0,-17.2,0.0,NaN,1029.9,0.0,0.0
122722,-8.9,0.0,-17.8,0.0,NaN,1030.2,360.0,1.5
122723,-2.2,NaN,-3.6,NaN,NaN,1014.7,270.0,2.1
122724,-2.3,NaN,-3.8,NaN,0.0,1014.4,260.0,2.1

In [55]:
#Average dataset for peacock
avg_peacock = set_peacock.mean(axis=0)
avg_peacock

airTemperature      15.345248
cloudCoverage        0.673145
dewTemperature       7.562648
precipDepth1HR       0.812047
precipDepth6HR      25.442623
seaLvlPressure    1017.214051
windDirection      131.398951
windSpeed            2.229467
dtype: float64

Dataset for Moose

In [56]:
set_moose= dataset.loc[122725:139584,'airTemperature':'windSpeed']
set_moose

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
122725,-2.8,NaN,-4.0,NaN,NaN,1014.2,260.0,1.5
122726,-3.0,NaN,-3.8,5.0,NaN,1014.1,260.0,1.5
122727,-3.3,NaN,-3.8,NaN,NaN,1013.3,230.0,1.0
122728,-3.2,NaN,-3.6,5.0,NaN,1012.9,200.0,2.1
122729,-3.1,NaN,-3.6,NaN,NaN,1012.1,190.0,3.1
...,...,...,...,...,...,...,...,...
139580,-22.3,NaN,-26.9,NaN,NaN,1030.3,280.0,3.1
139581,-22.9,NaN,-26.8,NaN,NaN,1030.3,260.0,2.1
139582,-23.1,NaN,-27.1,NaN,NaN,1030.4,280.0,2.6
139583,19.4,NaN,19.4,0.0,NaN,NaN,0.0,0.0
139584,21.1,6.0,21.1,-1.0,NaN,1019.4,0.0,0.0

In [57]:
#Average dataset for moose
avg_moose = set_moose.mean(axis=0)
avg_moose

airTemperature       7.800724
cloudCoverage        6.000000
dewTemperature       2.322523
precipDepth1HR      12.268206
precipDepth6HR       7.642629
seaLvlPressure    1015.037634
windDirection      205.773369
windSpeed            3.416352
dtype: float64

Dataset for Gator

In [58]:
set_gator= dataset.loc[139585:157127,'airTemperature':'windSpeed']
set_gator

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
139585,21.1,NaN,21.1,0.0,NaN,1018.8,210.0,1.5
139586,20.6,NaN,20.0,0.0,NaN,1018.1,0.0,0.0
139587,21.1,NaN,20.6,0.0,NaN,1019.0,290.0,1.5
139588,21.1,NaN,20.6,-1.0,NaN,1018.4,0.0,0.0
139589,20.6,NaN,20.0,0.0,NaN,1018.9,0.0,0.0
...,...,...,...,...,...,...,...,...
157123,16.1,4.0,10.0,0.0,NaN,1020.6,110.0,3.1
157124,15.0,NaN,10.0,0.0,NaN,1020.8,130.0,3.6
157125,14.4,NaN,9.4,0.0,NaN,1020.7,80.0,2.1
157126,13.9,NaN,10.0,0.0,NaN,1020.8,160.0,2.1
157127,9.4,NaN,3.3,0.0,NaN,1028.7,20.0,4.1

In [59]:
#Average dataset for gator
avg_gator = set_gator.mean(axis=0)
avg_gator

airTemperature      22.804618
cloudCoverage        2.950605
dewTemperature      17.260086
precipDepth1HR       1.237196
precipDepth6HR      39.532508
seaLvlPressure    1017.750880
windDirection      152.245952
windSpeed            3.396033
dtype: float64

Dataset for bull

In [60]:
set_bull= dataset.loc[157128:174657,'airTemperature':'windSpeed']
set_bull

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
157128,8.9,NaN,2.2,0.0,NaN,1028.8,30.0,3.1
157129,8.9,NaN,2.2,0.0,NaN,1029.6,20.0,3.1
157130,8.3,NaN,1.7,0.0,NaN,1029.5,20.0,3.6
157131,7.8,NaN,1.7,0.0,NaN,1029.6,10.0,5.7
157132,7.2,NaN,1.7,-1.0,NaN,1030.8,10.0,5.7
...,...,...,...,...,...,...,...,...
174653,-1.7,NaN,-3.9,0.0,NaN,1036.4,10.0,4.1
174654,-2.2,NaN,-5.0,-1.0,NaN,1037.2,360.0,5.7
174655,-2.2,NaN,-5.6,-1.0,NaN,1037.7,10.0,4.1
174656,-14.4,0.0,-16.7,0.0,NaN,1036.9,280.0,3.1
174657,-13.3,0.0,-16.7,0.0,NaN,1036.0,240.0,3.1

In [61]:
#Average dataset for bull
avg_bull = set_bull.mean(axis=0)
avg_bull

airTemperature      21.583506
cloudCoverage        0.581746
dewTemperature      14.327589
precipDepth1HR       0.740091
precipDepth6HR      39.037815
seaLvlPressure    1016.165891
windDirection      121.655495
windSpeed            2.143227
dtype: float64

Dataset for Bobcat

In [62]:
set_bobcat= dataset.loc[174658:192182,'airTemperature':'windSpeed']
set_bobcat

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
174658,-15.0,0.0,-17.8,0.0,NaN,1035.9,240.0,2.6
174659,-12.8,0.0,-17.8,0.0,NaN,1035.0,310.0,2.6
174660,-14.4,0.0,-18.3,0.0,NaN,1035.3,300.0,3.6
174661,-13.3,0.0,-18.3,0.0,NaN,1035.1,300.0,4.6
174662,-12.8,0.0,-18.3,0.0,NaN,1035.0,240.0,3.6
...,...,...,...,...,...,...,...,...
192178,-3.9,0.0,-10.0,0.0,NaN,1028.0,170.0,3.1
192179,-4.4,0.0,-11.1,0.0,NaN,1027.9,170.0,2.6
192180,-4.4,0.0,-11.1,0.0,NaN,1027.9,160.0,3.6
192181,-2.2,NaN,-3.6,NaN,NaN,1014.7,270.0,2.1
192182,-2.3,NaN,-3.8,NaN,0.0,1014.4,260.0,2.1

In [63]:
#Average dataset for bobcat
avg_bobcat= set_bobcat.mean(axis=0)
avg_bobcat

airTemperature      11.554247
cloudCoverage        0.336774
dewTemperature       0.187245
precipDepth1HR       0.410960
precipDepth6HR      14.616725
seaLvlPressure    1015.609199
windDirection      181.552049
windSpeed            3.121785
dtype: float64

Dataset for Crow

In [64]:
set_crow= dataset.loc[192183:209042,'airTemperature':'windSpeed']
set_crow

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
192183,-2.8,NaN,-4.0,NaN,NaN,1014.2,260.0,1.5
192184,-3.0,NaN,-3.8,5.0,NaN,1014.1,260.0,1.5
192185,-3.3,NaN,-3.8,NaN,NaN,1013.3,230.0,1.0
192186,-3.2,NaN,-3.6,5.0,NaN,1012.9,200.0,2.1
192187,-3.1,NaN,-3.6,NaN,NaN,1012.1,190.0,3.1
...,...,...,...,...,...,...,...,...
209038,-22.3,NaN,-26.9,NaN,NaN,1030.3,280.0,3.1
209039,-22.9,NaN,-26.8,NaN,NaN,1030.3,260.0,2.1
209040,-23.1,NaN,-27.1,NaN,NaN,1030.4,280.0,2.6
209041,3.8,NaN,2.4,NaN,0.0,1020.9,240.0,3.1
209042,3.7,0.0,2.4,NaN,NaN,1021.6,230.0,2.6

In [65]:
#Average dataset for bobcat
avg_crow= set_crow.mean(axis=0)
avg_crow

airTemperature       7.798766
cloudCoverage        0.000000
dewTemperature       2.320400
precipDepth1HR      12.283343
precipDepth6HR       7.639915
seaLvlPressure    1015.038114
windDirection      205.801246
windSpeed            3.416690
dtype: float64

Dataset for shrew

In [66]:
set_shrew= dataset.loc[209043:226558,'airTemperature':'windSpeed']
set_shrew

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
209043,2.6,0.0,1.9,NaN,NaN,1021.9,0.0,0.0
209044,2.0,0.0,1.2,NaN,NaN,1022.3,170.0,1.5
209045,2.3,0.0,1.8,NaN,NaN,1022.7,110.0,1.5
209046,2.4,NaN,2.0,NaN,NaN,1023.0,100.0,1.0
209047,2.3,NaN,1.8,NaN,NaN,1023.0,90.0,1.5
...,...,...,...,...,...,...,...,...
226554,8.2,NaN,4.0,NaN,NaN,992.1,230.0,10.3
226555,7.5,NaN,4.3,NaN,NaN,993.7,260.0,12.9
226556,7.2,NaN,3.7,NaN,NaN,995.7,260.0,10.3
226557,3.3,0.0,-0.6,0.0,NaN,1021.3,0.0,0.0
226558,3.9,0.0,-0.6,0.0,NaN,1021.2,270.0,2.1

In [67]:
#Average dataset for shrew
avg_shrew= set_shrew.mean(axis=0)
avg_shrew

airTemperature      11.842289
cloudCoverage        0.074822
dewTemperature       7.664242
precipDepth1HR       0.000000
precipDepth6HR       3.655853
seaLvlPressure    1016.206205
windDirection      204.967447
windSpeed            4.026479
dtype: float64

Dataset for swan

In [68]:
set_swan= dataset.loc[226559:244093,'airTemperature':'windSpeed']
set_swan

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
226559,4.4,0.0,-1.1,0.0,NaN,1021.1,0.0,0.0
226560,3.3,2.0,-2.2,0.0,NaN,1021.2,350.0,3.6
226561,4.4,NaN,-3.9,0.0,NaN,1020.9,350.0,4.1
226562,4.4,0.0,-5.0,0.0,NaN,1020.6,270.0,2.6
226563,3.3,0.0,-5.0,0.0,NaN,1020.9,220.0,2.1
...,...,...,...,...,...,...,...,...
244089,9.4,0.0,6.7,0.0,NaN,1021.4,0.0,0.0
244090,9.4,2.0,7.2,0.0,NaN,1021.9,0.0,0.0
244091,8.9,4.0,7.2,0.0,NaN,1022.6,0.0,0.0
244092,1.9,4.0,-1.2,NaN,0.0,1016.2,200.0,5.0
244093,1.6,4.0,-1.5,NaN,NaN,1016.3,190.0,3.0

In [69]:
#Average dataset for shrew
avg_swan= set_swan.mean(axis=0)
avg_swan

airTemperature      15.783384
cloudCoverage        0.245359
dewTemperature       9.480515
precipDepth1HR       0.388313
precipDepth6HR      19.701087
seaLvlPressure    1017.052402
windDirection      182.686972
windSpeed            2.555470
dtype: float64

Dataset for wolf

In [70]:
set_wolf= dataset.loc[244094:261598,'airTemperature':'windSpeed']
set_wolf

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
244094,0.7,4.0,-1.8,NaN,NaN,1016.5,170.0,3.0
244095,0.8,4.0,-2.1,NaN,NaN,1016.4,170.0,4.0
244096,2.9,4.0,-1.6,NaN,NaN,1016.2,130.0,3.0
244097,3.0,4.0,-1.1,NaN,NaN,1015.7,160.0,4.0
244098,3.6,4.0,-0.6,NaN,NaN,1014.7,150.0,5.0
...,...,...,...,...,...,...,...,...
261594,4.4,3.0,1.6,NaN,NaN,990.4,240.0,11.0
261595,4.2,5.0,1.2,NaN,NaN,990.2,240.0,12.0
261596,3.8,6.0,1.3,NaN,NaN,990.3,250.0,12.0
261597,-7.2,8.0,-10.6,0.0,-1.0,1022.9,280.0,5.7
261598,-6.7,NaN,-10.0,-1.0,NaN,1022.5,280.0,4.1

In [71]:
#Average dataset for wolf
avg_wolf= set_wolf.mean(axis=0)
avg_wolf

airTemperature       9.956818
cloudCoverage        5.732450
dewTemperature       6.773545
precipDepth1HR      -0.500000
precipDepth6HR       5.153092
seaLvlPressure    1014.523275
windDirection      210.740444
windSpeed            5.620994
dtype: float64

Dataset for Hog

In [72]:
set_hog= dataset.loc[261599:279140,'airTemperature':'windSpeed']
set_hog

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
261599,-6.7,NaN,-9.4,0.0,NaN,1022.1,260.0,2.6
261600,-6.7,NaN,-9.4,-1.0,NaN,1022.0,250.0,3.6
261601,-8.3,NaN,-11.7,0.0,NaN,1021.9,270.0,6.7
261602,-8.3,NaN,-11.7,0.0,NaN,1021.3,250.0,3.6
261603,-8.9,6.0,-12.2,0.0,0.0,1020.3,220.0,5.1
...,...,...,...,...,...,...,...,...
279136,-23.9,0.0,-27.8,0.0,NaN,1044.0,280.0,4.1
279137,-23.9,0.0,-27.2,0.0,NaN,1044.0,290.0,4.1
279138,-23.9,0.0,-27.2,0.0,NaN,1044.2,290.0,4.1
279139,4.4,NaN,-2.2,0.0,NaN,1018.9,300.0,4.1
279140,4.4,NaN,-2.8,0.0,NaN,1018.4,300.0,2.6

In [73]:
#Average dataset for hog
avg_hog= set_hog.mean(axis=0)
avg_hog

airTemperature       9.562332
cloudCoverage        2.806694
dewTemperature       2.972651
precipDepth1HR       0.809788
precipDepth6HR      25.229396
seaLvlPressure    1015.765421
windDirection      190.846248
windSpeed            4.195912
dtype: float64

Dataset for Eagle

In [74]:
set_eagle= dataset.loc[279141:296676,'airTemperature':'windSpeed']
set_eagle

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
279141,3.9,NaN,-2.8,0.0,NaN,1018.2,300.0,3.6
279142,3.9,0.0,-3.3,0.0,NaN,1018.3,300.0,4.1
279143,3.3,0.0,-3.3,0.0,NaN,1018.2,280.0,3.1
279144,3.3,0.0,-3.3,0.0,NaN,1018.0,280.0,2.6
279145,3.3,0.0,-3.3,0.0,NaN,1017.9,280.0,2.6
...,...,...,...,...,...,...,...,...
296672,-12.8,0.0,-21.1,0.0,NaN,1027.2,310.0,2.6
296673,-12.8,0.0,-20.6,0.0,NaN,1027.4,330.0,3.1
296674,-12.8,0.0,-20.6,0.0,NaN,1027.4,320.0,4.6
296675,-1.0,NaN,-3.0,NaN,NaN,NaN,250.0,2.6
296676,-1.0,NaN,-3.0,NaN,NaN,NaN,240.0,3.1

In [75]:
#Average dataset for eagle
avg_eagle= set_eagle.mean(axis=0)
avg_eagle

airTemperature      13.168220
cloudCoverage        0.653685
dewTemperature       6.213574
precipDepth1HR       0.836277
precipDepth6HR      27.395349
seaLvlPressure    1016.204063
windDirection      186.269371
windSpeed            3.078620
dtype: float64

Dataset for cockatoo

In [76]:
set_cockatoo= dataset.loc[296677:313651,'airTemperature':'windSpeed']
set_cockatoo

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
296677,-1.0,NaN,-2.0,NaN,NaN,NaN,240.0,4.1
296678,-1.0,NaN,-2.0,NaN,NaN,NaN,240.0,4.6
296679,-1.0,NaN,-3.0,NaN,NaN,NaN,270.0,5.1
296680,-1.0,NaN,-4.0,NaN,NaN,NaN,240.0,7.2
296681,-1.0,NaN,-4.0,NaN,NaN,NaN,240.0,7.2
...,...,...,...,...,...,...,...,...
313647,-16.1,NaN,-18.9,NaN,NaN,1028.5,290.0,5.1
313648,-15.6,NaN,-17.8,-1.0,NaN,1028.3,290.0,5.7
313649,-15.0,NaN,-17.2,-1.0,NaN,1028.4,310.0,6.7
313650,3.8,NaN,2.4,NaN,0.0,1020.9,240.0,3.1
313651,3.7,0.0,2.4,NaN,NaN,1021.6,230.0,2.6

In [77]:
#Average dataset for cockatoo
avg_cockatoo= set_cockatoo.mean(axis=0)
avg_cockatoo

airTemperature       9.268250
cloudCoverage        1.152207
dewTemperature       4.403035
precipDepth1HR       3.574875
precipDepth6HR      14.668327
seaLvlPressure    1016.714949
windDirection      185.751452
windSpeed            3.644277
dtype: float64

Dataset for mouse

In [78]:
set_mouse= dataset.loc[313652:331167,'airTemperature':'windSpeed']
set_mouse

,airTemperature,cloudCoverage,dewTemperature,precipDepth1HR,precipDepth6HR,seaLvlPressure,windDirection,windSpeed
313652,2.6,0.0,1.9,NaN,NaN,1021.9,0.0,0.0
313653,2.0,0.0,1.2,NaN,NaN,1022.3,170.0,1.5
313654,2.3,0.0,1.8,NaN,NaN,1022.7,110.0,1.5
313655,2.4,NaN,2.0,NaN,NaN,1023.0,100.0,1.0
313656,2.3,NaN,1.8,NaN,NaN,1023.0,90.0,1.5
...,...,...,...,...,...,...,...,...
331161,8.5,NaN,4.8,NaN,NaN,992.3,210.0,8.2
331162,8.5,NaN,4.5,NaN,NaN,992.1,210.0,7.2
331163,8.2,NaN,4.0,NaN,NaN,992.1,230.0,10.3
331164,7.5,NaN,4.3,NaN,NaN,993.7,260.0,12.9
331165,7.2,NaN,3.7,NaN,NaN,995.7,260.0,10.3

In [79]:
#Average dataset for mouse
avg_mouse= set_mouse.mean(axis=0)
avg_mouse

airTemperature      11.843231
cloudCoverage        0.074866
dewTemperature       7.665186
precipDepth1HR            NaN
precipDepth6HR       3.655853
seaLvlPressure    1016.205627
windDirection      204.975440
windSpeed            4.026819
dtype: float64

In [80]:
avg_mouse_dataframe = pd.DataFrame(data= [avg_panther,avg_robin,avg_rat,avg_panther,avg_panther,avg_panther], 
                                   columns = ['Panther','Robin','Fox','Rat',
                                            'Bear','Lamb','Peacock','Moose','Gator','Bull',
                                            'Bobcat','Crow','Shrew','Swan','Wolf','Hog','Eagle','Cockatoo',
                                            'Mouse'])
avg_mouse_dataframe

,Panther,Robin,Fox,Rat,Bear,Lamb,Peacock,Moose,Gator,Bull,Bobcat,Crow,Shrew,Swan,Wolf,Hog,Eagle,Cockatoo,Mouse
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
avg_mouse_dataframe = pd.DataFrame(data= avg_panther, columns = ['panther'])
avg_mouse_dataframe

                    panther
airTemperature    22.802919
cloudCoverage      2.950615
dewTemperature    17.259528
precipDepth1HR     1.237069
precipDepth6HR    39.471406
seaLvlPressure  1017.750746
windDirection    152.245556
windSpeed          3.395543

In [82]:
#average_dataframe=pd.DataFrame(data= 'airTemperature','cloudCoverage',  columns = ['panther','robin'])
#average_dataframe.head(2)