# RNN 
Didn't help with SimpleRNN: smooth the y_train, add hour to X.

RNN 211: Predict 24 hour-of-day given 24 hour-of-day. Replace NaN with mean. Use Simple RNN 3x16. Works great!

Now, put back smoothed steam as predicted variable.

In [81]:
DATAPATH=''
try:
    # On Google Drive, set path to my drive / data directory.
    from google.colab import drive
    IN_COLAB = True
    PATH='/content/drive/'
    drive.mount(PATH)
    DATAPATH=PATH+'My Drive/data/'  # must end in "/"
except:
    # On home computer, set path to local data directory.
    IN_COLAB = False
    DATAPATH='data/'  # must end in "/"

ZIP_FILE='BuildingData.zip'
ZIP_PATH = DATAPATH+ZIP_FILE
STEAM_FILE='steam.csv'
WEATHER_FILE='weather.csv'
MODEL_FILE='Model'  # will be used later to save models

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [82]:
from os import listdir
import csv
from zipfile import ZipFile
import numpy as np
import pandas as pd
from scipy import stats  # mode

from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error

from keras.models import Sequential
from keras.layers import SimpleRNN
from keras.layers import LSTM
from keras.layers import GRU
from keras.layers import TimeDistributed
from keras.layers import Dense
from keras.losses import MeanSquaredError

import matplotlib.pyplot as plt
from matplotlib import colors
mycmap = colors.ListedColormap(['red','blue'])  # list color for label 0 then 1
np.set_printoptions(precision=2)

In [83]:
def read_zip_to_panda(zip_filename,csv_filename):
    zip_handle = ZipFile(zip_filename)
    csv_handle = zip_handle.open(csv_filename)
    panda = pd.read_csv(csv_handle)
    return panda
def fix_date_type(panda):
    # Convert the given timestamp column to the pandas datetime data type.
    panda['timestamp'] = pd.to_datetime(panda['timestamp'], infer_datetime_format = True)
    indexed = panda.set_index(['timestamp'])
    return indexed
def get_site_timeseries(panda,site):
    # Assume the panda dataframe has a datetime column.
    # (If not, call fix_date_type() before this.)
    # Extract the timeseries for one site.
    # Convert the datetime column to a DatetimeIndex.
    site_df = panda[panda['site_id']==site]
    temp_col = site_df['date']
    temp_val = temp_col.values
    temp_ndx = pd.DatetimeIndex(temp_val)
    dropped = site_df.drop('date',axis=1)
    panda = dropped.set_index(temp_ndx)
    return panda

In [84]:
EPOCHS=50
SITE = 'Eagle'
METER = 'steam'
PREDICTORS = ['hour','cloudCoverage', 'airTemperature', 'dewTemperature', 'precipDepth1HR', 'precipDepth6HR', 'seaLvlPressure', 'windDirection', 'windSpeed']
PREDICTORS = ['airTemperature','steam']
NUM_PREDICTORS=len(PREDICTORS)
print("PREDICTORS=",NUM_PREDICTORS,PREDICTORS)
PREDICTED_VARIABLE = 'steam'  
STEPS_HISTORY = 24
STEPS_FORWARD = 12 
STEPS_FUTURE =  12

PREDICTORS= 2 ['airTemperature', 'steam']

In [85]:
# This will have to change when we predict across multiple sites!
wet_df = read_zip_to_panda(ZIP_PATH,WEATHER_FILE)
wet_df = fix_date_type(wet_df)
site_specific_weather = wet_df.loc[wet_df['site_id'] == SITE]
site_specific_weather.insert(0,'hour',0)
L=len(site_specific_weather)
for i in range(0,L):
    t=site_specific_weather.index[i]
    h=t.hour
    site_specific_weather.iat[i,0] = h
site_specific_weather.tail()

                     hour site_id  ...  windDirection  windSpeed
timestamp                          ...
2017-12-31 18:00:00    18   Eagle  ...          330.0        2.6
2017-12-31 20:00:00    20   Eagle  ...          320.0        1.5
2017-12-31 21:00:00    21   Eagle  ...          310.0        2.6
2017-12-31 22:00:00    22   Eagle  ...          330.0        3.1
2017-12-31 23:00:00    23   Eagle  ...          320.0        4.6

[5 rows x 10 columns]

In [86]:
stm_df = read_zip_to_panda(ZIP_PATH,STEAM_FILE)
stm_df = fix_date_type(stm_df)
all_buildings = [x for x in stm_df.columns if x.startswith(SITE)]
stm_df.tail()

                     Peacock_lodging_Terrie  ...  Cockatoo_public_Shad
timestamp                                    ...
2017-12-31 19:00:00                241.8533  ...              267.5935
2017-12-31 20:00:00                256.1989  ...              268.3583
2017-12-31 21:00:00                245.8563  ...              244.5572
2017-12-31 22:00:00                260.6364  ...              244.7395
2017-12-31 23:00:00                293.5679  ...              241.5469

[5 rows x 370 columns]

In [87]:
# Correlation is low when buildings have many NaN and 0 meter readings.
# We will ignore buildings that have >max bad meter readings.
def is_usable_column(df,column_name):
    MAX_BAD = 500 
    bad = df[column_name].isna().sum()
    return bad<=MAX_BAD

def prepare_for_learning(df):
    num_samples = len(df) - STEPS_FUTURE - STEPS_HISTORY
    X_shape = (num_samples,STEPS_HISTORY,NUM_PREDICTORS)
    X=np.zeros(X_shape)
    Y_shape = (num_samples,STEPS_FUTURE)
    y=np.zeros(Y_shape)
    predictor_series = df[PREDICTORS].values  # e.g. all weather values
    predicted_series = df[PREDICTED_VARIABLE].values  # e.g. all meter readings
    
    for sam in range (0,num_samples): # Loop over all 1000 samples
        # This is one array of weather for previous 24 time periods
        one_sample = predictor_series[sam:sam+STEPS_FORWARD]
        # Loop over all 24 time periods
        for time in range (0,STEPS_FORWARD): # In 1 sample, loop over 24 time periods
            one_period = one_sample[time]
            for feat in range (0,NUM_PREDICTORS): # In 1 time period, loop over 8 weather metrics
                X[sam,time,feat] = one_period[feat]
        for time in range (0,STEPS_FUTURE):  
            y[sam,time]=predicted_series[sam+STEPS_HISTORY+time]
    return X,y

In [88]:
def make_RNN():
    rnn = Sequential([
        GRU(16,return_sequences=True, 
                  input_shape=(STEPS_HISTORY,NUM_PREDICTORS)), 
        GRU(16,return_sequences=True),
        GRU(16,return_sequences=False),
        Dense(STEPS_FUTURE)
    ])
    rnn.compile(optimizer='adam',loss=MeanSquaredError())
    return rnn

In [89]:
def window_smooth(oldarray):
    win_len=3
    df = pd.DataFrame(oldarray)
    newdf = df.rolling(win_len).mean()
    newarray = np.asarray(newdf)
    for i in range(0,win_len):
        newarray[i]=oldarray[i]
    return newarray

Pandas rolling() supports these window function from scipy:  
https://docs.scipy.org/doc/scipy/reference/signal.windows.html#module-scipy.signal.windows

In [90]:
cors = []
for BLDG in ['Eagle_lodging_Edgardo']:  ### all_buildings:
    print("Building",BLDG)
    # Get steam usage for one building.
    bldg_specific_steam = stm_df[[BLDG]]
    # Concatenate steam usage with weather.
    one_bldg_df = pd.concat([bldg_specific_steam,site_specific_weather],axis=1)
    # Drop the site, which is constant (we selected for one site).
    one_bldg_df = one_bldg_df.drop(['site_id'],axis=1)
    # The original steam table used column name = building name.
    # We are processing one building, so rename to the column 'steam'.
    one_bldg_df = one_bldg_df.rename(columns={BLDG : METER})
    # In order to filter bad buildings, count sum of NaN + zero.
    #### one_bldg_df = one_bldg_df.fillna(0)
    
    if is_usable_column(one_bldg_df,METER):
        pseudovalue = one_bldg_df[PREDICTED_VARIABLE].mean()
        one_bldg_df = one_bldg_df.fillna(pseudovalue)
        X,y = prepare_for_learning(one_bldg_df)
        split = len(X)//2   # year 1 vs year 2
        X_train = np.asarray(X[0:split])
        y_train = np.asarray(y[0:split])
        X_test = np.asarray(X[split:])
        y_test = np.asarray(y[split:])
        example=311
        model = make_RNN()
        print(model.summary())
        #print("Example X train:\n",X_train[example].astype(int))
        print("Example y train before smooth:\n",y_train[example].astype(int))
        y_train = window_smooth(y_train)
        print("Example y train after smooth:\n",y_train[example].astype(int))
        model.fit(X_train,y_train,epochs=EPOCHS)
        y_pred = model.predict(X_test)
        rmse = mean_squared_error(y_test,y_pred,squared=False)
        # Keep a table for reporting later.
        mean = one_bldg_df[METER].mean()
        cors.append([mean,rmse,rmse/mean,BLDG])
        print("mean,rmse,rmse/mean,bldg:",mean,rmse,rmse/mean,BLDG)
        for hr in range(0,24,2):
            print("Example prediction:\n",hr,y_pred[example+hr].astype(int))

print("History",STEPS_HISTORY,"Future",STEPS_FUTURE)
print("Column 1: Mean usage.")
print("Column 2: RMSE of LinearRegression(X=Weather, y=Usage).")
print("Column 3: RMSE/mean normalized to help understand RMSE.")
print("Column 4: Building.")
for cor in sorted(cors):
    print("%10.2f %10.2f %5.2f   %s"%(cor[0],cor[1],cor[2],cor[3]))

Building Eagle_lodging_Edgardo
Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
gru_18 (GRU)                 (None, 24, 16)            960
_________________________________________________________________
gru_19 (GRU)                 (None, 24, 16)            1632
_________________________________________________________________
gru_20 (GRU)                 (None, 16)                1632
_________________________________________________________________
dense_7 (Dense)              (None, 12)                204
=================================================================
Total params: 4,428
Trainable params: 4,428
Non-trainable params: 0
_________________________________________________________________
None
Example y train before smooth:
 [270 270 270 270 270 270 270 270 270 270 270 270]
Example y train after smooth:
 [270 270 270 270 270 270 270 270 270 270 270 270]
Epoch 1/50
274/274 [==============================] - 5s 5ms/step - loss: 9693.9821
Epoch 2/50
274/274 [==============================] - 1s 5ms/step - loss: 8843.8606
Epoch 3/50
274/274 [==============================] - 1s 5ms/step - loss: 8010.7426
Epoch 4/50
274/274 [==============================] - 1s 5ms/step - loss: 7549.6803
Epoch 5/50
274/274 [==============================] - 1s 5ms/step - loss: 7355.1469
Epoch 6/50
274/274 [==============================] - 1s 5ms/step - loss: 6670.4200
Epoch 7/50
274/274 [==============================] - 2s 6ms/step - loss: 6305.9247
Epoch 8/50
274/274 [==============================] - 1s 5ms/step - loss: 5744.0785
Epoch 9/50
274/274 [==============================] - 1s 5ms/step - loss: 5291.8023
Epoch 10/50
274/274 [==============================] - 1s 5ms/step - loss: 5276.2137
Epoch 11/50
274/274 [==============================] - 1s 5ms/step - loss: 4866.0312
Epoch 12/50
274/274 [==============================] - 1s 5ms/step - loss: 4600.6000
Epoch 13/50
274/274 [==============================] - 1s 5ms/step - loss: 4297.8832
Epoch 14/50
274/274 [==============================] - 1s 5ms/step - loss: 4142.2404
Epoch 15/50
274/274 [==============================] - 1s 5ms/step - loss: 3910.3303
Epoch 16/50
274/274 [==============================] - 1s 5ms/step - loss: 3898.8616
Epoch 17/50
274/274 [==============================] - 1s 5ms/step - loss: 3665.7799
Epoch 18/50
274/274 [==============================] - 1s 5ms/step - loss: 3670.7880
Epoch 19/50
274/274 [==============================] - 1s 5ms/step - loss: 3597.6019
Epoch 20/50
274/274 [==============================] - 1s 5ms/step - loss: 3377.2870
Epoch 21/50
274/274 [==============================] - 1s 5ms/step - loss: 3408.2481
Epoch 22/50
274/274 [==============================] - 1s 5ms/step - loss: 3351.7155
Epoch 23/50
274/274 [==============================] - 1s 5ms/step - loss: 3436.7292
Epoch 24/50
274/274 [==============================] - 1s 5ms/step - loss: 3361.1282
Epoch 25/50
274/274 [==============================] - 1s 5ms/step - loss: 3337.5473
Epoch 26/50
274/274 [==============================] - 1s 5ms/step - loss: 3407.7503
Epoch 27/50
274/274 [==============================] - 1s 5ms/step - loss: 3302.1446
Epoch 28/50
274/274 [==============================] - 1s 5ms/step - loss: 2861.3007
Epoch 29/50
274/274 [==============================] - 1s 5ms/step - loss: 2706.9653
Epoch 30/50
274/274 [==============================] - 1s 5ms/step - loss: 2670.1123
Epoch 31/50
274/274 [==============================] - 1s 5ms/step - loss: 2484.1091
Epoch 32/50
274/274 [==============================] - 1s 5ms/step - loss: 2486.2650
Epoch 33/50
274/274 [==============================] - 1s 5ms/step - loss: 2394.1495
Epoch 34/50
274/274 [==============================] - 1s 5ms/step - loss: 2340.1140
Epoch 35/50
274/274 [==============================] - 1s 5ms/step - loss: 2302.7433
Epoch 36/50
274/274 [==============================] - 1s 5ms/step - loss: 2192.1204
Epoch 37/50
274/274 [==============================] - 2s 6ms/step - loss: 2077.9596
Epoch 38/50
274/274 [==============================] - 2s 6ms/step - loss: 2090.5599
Epoch 39/50
274/274 [==============================] - 1s 5ms/step - loss: 2070.8205
Epoch 40/50
274/274 [==============================] - 2s 6ms/step - loss: 1972.2836
Epoch 41/50
274/274 [==============================] - 2s 6ms/step - loss: 1950.0569
Epoch 42/50
274/274 [==============================] - 1s 5ms/step - loss: 1912.0099
Epoch 43/50
274/274 [==============================] - 2s 5ms/step - loss: 1850.1424
Epoch 44/50
274/274 [==============================] - 1s 5ms/step - loss: 1866.6128
Epoch 45/50
274/274 [==============================] - 1s 5ms/step - loss: 1871.2920
Epoch 46/50
274/274 [==============================] - 1s 5ms/step - loss: 1881.6761
Epoch 47/50
274/274 [==============================] - 1s 5ms/step - loss: 1877.4433
Epoch 48/50
274/274 [==============================] - 2s 6ms/step - loss: 1840.1085
Epoch 49/50
274/274 [==============================] - 1s 5ms/step - loss: 1790.9707
Epoch 50/50
274/274 [==============================] - 2s 5ms/step - loss: 1797.3845
mean,rmse,rmse/mean,bldg: 81.9677919573641 69.06000769917318 0.8425261441115194 Eagle_lodging_Edgardo
Example prediction:
 0 [58 57 57 57 57 57 57 57 57 58 58 58]
Example prediction:
 2 [65 64 64 64 65 65 65 65 65 65 65 65]
Example prediction:
 4 [72 72 72 72 72 72 72 72 72 72 72 72]
Example prediction:
 6 [67 66 66 66 66 66 66 66 66 66 67 67]
Example prediction:
 8 [69 68 68 68 69 69 69 69 69 69 69 69]
Example prediction:
 10 [80 79 79 79 80 80 80 80 80 80 80 80]
Example prediction:
 12 [93 93 93 93 94 94 94 94 93 93 93 93]
Example prediction:
 14 [91 91 91 91 91 91 91 91 91 91 91 91]
Example prediction:
 16 [78 77 77 77 78 78 78 78 77 77 78 78]
Example prediction:
 18 [80 79 80 80 80 80 80 80 80 80 80 80]
Example prediction:
 20 [91 91 91 91 91 91 91 91 91 91 91 91]
Example prediction:
 22 [95 95 95 95 95 95 95 95 95 95 95 95]
History 24 Future 12
Column 1: Mean usage.
Column 2: RMSE of LinearRegression(X=Weather, y=Usage).
Column 3: RMSE/mean normalized to help understand RMSE.
Column 4: Building.
     81.97      69.06  0.84   Eagle_lodging_Edgardo